
/*style rule*/ 

body {
    background-color: pink;
    font-family: arial, sans-serif;
  }
  

  
  /*padding is space inside borders, width and height for squares*/
  .projects li {
    border: 3px solid purple;
    margin: 10px;
    padding:10px;
    height:12rem;
    width:12rem;
    display: inline-block;
  }
   
  .projects ol{
    list-style: none;
  }

  .labs li {
    border: 3px solid purple;
    margin: 10px;
    padding:10px;
    height:12rem;
    width:12rem;
    display: inline-block;
  }